.revH2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}

.liImg {
  margin: 0 auto 24px;
  border-radius: 50%;
}

.revLi {
  border-radius: 30px;
  padding: 32px 36px;
  background: #f3f3f3;
}

.ulLiH {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0c0c0c;
  margin: 0 auto 8px;
}

.liP {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(12, 12, 12, 0.4);
  height: 90px;
}

.liTablet {
  display: none;
}

.liDesktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .revUl {
    display: flex;
    gap: 20px;
  }

  .revH2 {
    font-size: 48px;
    line-height: 0.92;
  }

  .liTablet {
    display: block;
  }

  .liP {
    font-size: 16px;
    line-height: 1.25;
    width: 100%;
    height: 100px;
  }

  .ulLiH {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
  }
}

@media screen and (min-width: 1280px) {
  .liDesktop {
    display: block;
  }

  .liP {
    width: 100%;
  }
}


