<section class="catalog" id="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="catalog-img-container">
          <picture>
            <source
              media="(min-width:1280px)"
              srcset="
                /img/catalog/fenixpro.png    1x,
                /img/catalog/fenixpro-2x.png 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                /img/catalog/fenixpro-tab.png   1x,
                /img/catalog/fenixpro-tab2x.png 2x
              "
            />
            <source
              media="(max-width:767px)"
              srcset="
                /img/catalog/fenixpro-mob.png   1x,
                /img/catalog/fenixpro-mob2x.png 2x
              "
            />
            <img
              src="/img/catalog/fenixpro.png"
              alt="Garmin Fenix 7X Pro Sapphire Solar"
              width="292"
              height="292"
              class="catalog-img"
            />
          </picture>
        </div>
        <div class="catalog-item-wrapper">
          <p class="catalog-name">Garmin Fenix 7X Pro Sapphire Solar</p>
          <p class="catalog-text">€500</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-img-container">
          <picture>
            <source
              media="(min-width:1280px)"
              srcset="/img/catalog/marq.png 1x, /img/catalog/marq-2x.png 2x"
            />
            <source
              media="(min-width:768px)"
              srcset="
                /img/catalog/marq-tab.png   1x,
                /img/catalog/marq-tab2x.png 2x
              "
            />
            <source
              media="(max-width:767px)"
              srcset="
                /img/catalog/marq-mob.png   1x,
                /img/catalog/marq-mob2x.png 2x
              "
            />
            <img
              src="/img/catalog/marq.png"
              alt="Garmin Marq Athlete"
              width="292"
              height="292"
              class="catalog-img"
            />
          </picture>
        </div>

        <div class="catalog-item-wrapper">
          <p class="catalog-name">Garmin Marq Athlete</p>
          <p class="catalog-text">€450</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-img-container">
          <picture>
            <source
              media="(min-width:1280px)"
              srcset="
                /img/catalog/descent.png    1x,
                /img/catalog/descent-2x.png 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                /img/catalog/descent-tab.png   1x,
                /img/catalog/descent-tab2x.png 2x
              "
            />
            <source
              media="(max-width:767px)"
              srcset="
                /img/catalog/descent-mob.png   1x,
                /img/catalog/descent-mob2x.png 2x
              "
            />
            <img
              src="/img/catalog/descent.png"
              alt="Garmin Descent MK1"
              width="292"
              height="292"
              class="catalog-img"
            />
          </picture>
        </div>
        <div class="catalog-item-wrapper">
          <p class="catalog-name">Garmin Descent MK1</p>
          <p class="catalog-text">€680</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-img-container">
          <picture>
            <source
              media="(min-width:1280px)"
              srcset="/img/catalog/d2.png 1x, /img/catalog/d2-2x.png 2x"
            />
            <source
              media="(min-width:768px)"
              srcset="/img/catalog/d2-tab.png 1x, /img/catalog/d2-tab2x.png 2x"
            />
            <source
              media="(max-width:767px)"
              srcset="/img/catalog/d2-mob.png 1x, /img/catalog/d2-mob2x.png 2x"
            />
            <img
              src="/img/catalog/d2.png"
              alt="Garmin D2 Delta PX"
              width="292"
              height="292"
              class="catalog-img"
            />
          </picture>
        </div>
        <div class="catalog-item-wrapper">
          <p class="catalog-name">Garmin D2 Delta PX</p>
          <p class="catalog-text">€380</p>
        </div>
      </li>
      <li class="catalog-item catalog-none">
        <div class="catalog-img-container">
          <picture>
            <source
              media="(min-width:1280px)"
              srcset="/img/catalog/fenix6.png 1x, /img/catalog/fenix6-2x.png 2x"
            />
            <source
              media="(min-width:768px)"
              srcset="
                /img/catalog/fenix6-tab.png   1x,
                /img/catalog/fenix6-tab2x.png 2x
              "
            />
            <source
              media="(max-width:767px)"
              srcset="
                /img/catalog/fenix6-mob.png   1x,
                /img/catalog/fenix6-mob2x.png 2x
              "
            />
            <img
              src="/img/catalog/fenix6.png"
              alt="Garmin Fenix 6 Pro Solar"
              width="292"
              height="292"
              class="catalog-img"
            />
          </picture>
        </div>
        <div class="catalog-item-wrapper">
          <p class="catalog-name">Garmin Fenix 6 Pro Solar</p>
          <p class="catalog-text">€400</p>
        </div>
      </li>
      <li class="catalog-item catalog-none">
        <div class="catalog-img-container">
          <picture>
            <source
              media="(min-width:1280px)"
              srcset="/img/catalog/watch.png 1x, /img/catalog/watch-2x.png 2x"
            />
            <source
              media="(min-width:768px)"
              srcset="
                /img/catalog/watch-tab.png   1x,
                /img/catalog/watch-tab2x.png 2x
              "
            />
            <source
              media="(max-width:767px)"
              srcset="
                /img/catalog/watch-mob.png   1x,
                /img/catalog/watch-mob2x.png 2x
              "
            />
            <img
              src="/img/catalog/watch.png"
              alt="Tube Watch S42 Date Steel With Black Case"
              width="292"
              height="292"
              class="catalog-img"
            />
          </picture>
        </div>
        <div class="catalog-item-wrapper">
          <p class="catalog-name">Tube Watch S42 Date Steel With Black Case</p>
          <p class="catalog-text">€395</p>
        </div>
      </li>
    </ul>
    <button class="catalog-btn catalog-btn-none" type="button">
      Show more
    </button>
  </div>
</section>
