<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catalog</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
      integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="../css/catalog.css" rel="stylesheet" />
  </head>
  <body>
    <div class="catalog" id="catalog">
      <div class="container">
        <h2 class="catalog-title">Catalog</h2>
        <ul class="catalog-list">
          <li class="catalog-item">
            <img
              class="catalog-img"
              srcset="
                ../img/catalog/fenixpro-mob.png,
                ../img/catalog/fenixpro-mob2x.png
              "
              src="../img/catalog/fenixpro-mob.png"
              alt="watch modal"
              width="208"
              height="226"
            />
            <div class="catalog-item-wrapper">
              <p class="catalog-name">Garmin Fenix 7X Pro Sapphire Solar</p>
              <p class="catalog-text">€500</p>
            </div>
          </li>
          <li class="catalog-item">
            <img
              class="catalog-img"
              srcset="../img/catalog/marq-mob.png, ../img/catalog/mob2x.png"
              src="../img/catalog/marq-mob.png"
              alt="watch modal"
              width="208"
              height="226"
            />
            <div class="catalog-item-wrapper">
              <p class="catalog-name">Garmin Marq Athlete</p>
              <p class="catalog-text">€450</p>
            </div>
          </li>
          <li class="catalog-item">
            <img
              class="catalog-img"
              srcset="
                ../img/catalog/descent-mob.png,
                ../img/catalog/descent-mob2x.png
              "
              src="../img/catalog/descent-mob.png"
              alt="watch modal"
              width="208"
              height="226"
            />
            <div class="catalog-item-wrapper">
              <p class="catalog-name">Garmin Descent MK1</p>
              <p class="catalog-text">€680</p>
            </div>
          </li>
          <li class="catalog-item">
            <img
              class="catalog-img"
              srcset="../img/catalog/d2-mob.png, ../img/catalog/d2-mob2x.png"
              src="../img/catalog/d2-mob.png"
              alt="watch modal"
              width="208"
              height="226"
            />
            <div class="catalog-item-wrapper"></div>
            <p class="catalog-name">Garmin D2 Delta PX</p>
            <p class="catalog-text">€380</p>
          </li>
          <!-- <li class="catalog-item">
            <img
              class="catalog-img"
              srcset="../img/catalog/marq-mob.png, ../img/catalog/mob2x.png"
              src="../img/catalog/marq-mob.png"
              alt="watch modal"
              width="208"
              height="226"
            />
            <div class="catalog-item-wrapper">
              <p class="catalog-name">Garmin Marq Athlete</p>
              <p class="catalog-text">€450</p>
            </div>
          </li> -->
        </ul>
        <button class="catalog-btn catalog-btn-none" type="button">
          Show more
        </button>
      </div>
    </div>
  </body>
</html>
