<section class="contact-section" id="contact-us">
  <div class="container">
    <h2 class="contact-heading">Contact Us</h2>
    <div class="wrapper">
      <div class="form-card">
        <p class="card-subtitle">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <form class="form-container" autocomplete="on">
          <div class="form-content">
            <input
              class="input-field"
              type="text"
              name="user-name"
              id="user-name"
              placeholder="Name"
              required
            />
            <p class="text-valid">Looks good!</p>
            <p class="text-invalid">Please enter your name.</p>
          </div>
        
          <div class="form-content">
            <input
              class="input-field"
              type="email"
              name="user-email"
              id="user-email"
              placeholder="Email"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              required
            />
            <p class="text-valid">Valid email!</p>
            <p class="text-invalid">Please enter a valid email.</p>
          </div>
        
          <div class="form-content">
            <input
              class="input-field"
              type="tel"
              name="user-tel"
              id="user-tel"
              placeholder="+380"
              pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
              required
            />
            <p class="text-valid">Valid phone!</p>
            <p class="text-invalid">Please enter a valid phone.</p>
          </div>
        
          <div class="form-content">
            <textarea
              class="textarea-field"
              name="user-comment"
              id="user-comment"
              rows="4"
              placeholder="Comment"
              required
            ></textarea>
            <p class="text-valid">Thanks for your comment!</p>
            <p class="text-invalid">Please write a comment.</p>
          </div>
        
          <button class="send-button" type="submit">Send</button>
        </form>
      </div>
      <div class="image-wrapper">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="/img/cont-dest-min.jpg 1x, /img/cont-dest@2x-min.jpg 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="/img/cont-tab-min.jpg 1x, /img/cont-tab@2x-min.jpg 2x"
          />
          <source
            media="(max-width: 767px)"
            srcset="/img/cont-mob-min.jpg 1x, /img/cont-mob@2x-min.jpg 2x"
          />
          <img
            src="/img/cont-mob-min.jpg"
            class="contact-image"
            alt="image"
            width="335"
            height="512"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
