<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-sides-container">
      <div class="tab-text-container">
        <h1 class="hero-title">
          Welcome to our <span class="span-word">collection</span> of premium
          watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>

      <div class="hero-list-container">
        <ul class="hero-list">
          <li class="hero-list-item">
            <img
              srcset="
                ./img/hero-img/imagecompressor/team-1-min.jpg    1x,
                ./img/hero-img/imagecompressor/team-1@2x-min.jpg 2x
              "
              src="../img/hero-img/imagecompressor/team-1-min.jpg"
              alt="women-one"
              class="hero-sml-image image-bottom"
            />
          </li>
          <li class="hero-list-item">
            <img
              srcset="
                ./img/hero-img/imagecompressor/team-2-min.jpg    1x,
                ./img/hero-img/imagecompressor/team-2@2x-min.jpg 2x
              "
              src="../img/hero-img/imagecompressor/team-2-min.jpg"
              alt="men-one"
              class="hero-sml-image image-middle"
            />
          </li>
          <li class="hero-list-item">
            <img
              srcset="
                ./img/hero-img/imagecompressor/team-3-min.jpg    1x,
                ./img/hero-img/imagecompressor/team-3@2x-min.jpg 2x
              "
              src="../img/hero-img/imagecompressor/team-3-min.jpg"
              alt="women-two"
              class="hero-sml-image image-top"
            />
          </li>
        </ul>
        <a class="hero-scroll-link" href="">Scroll down</a>
      </div>
    </div>
    
    <picture class="hero-img">
      <source
        media="(min-width: 1280px)"
        srcset="
          ./img/hero-img/imagecompressor/hero-3-min.jpg 1x,
          ./img/hero-img/imagecompressor/hero-3@2x-min.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/hero-img/imagecompressor/hero-2-min.jpg 1x,
          ./img/hero-img/imagecompressor/hero-2@2x-min.jpg 2x
        "
      />
      <source
        media="(min-width: 320px)"
        srcset="./img/hero-img/imagecompressor/hero-1-min.jpg 1x, ./img/hero-img/imagecompressor/hero-1@2x-min.jpg 2x"
      />
      <img src="./img/hero-img/imagecompressor/hero-3-min.jpg" />
    </picture>
  </div>
</section>
