<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reviews.css">
    <title></title>
</head>
<body>
    <section class="sec-Reviews" id="Reviews">
        <div class="container">
            <h1 class="rev-h1">Reviews</h1>
            <ul class="rev-ul">
                <li class="rev-li">
                    <picture>
                        <source media="(min-width: 1280px)" srcset="../img/reviews-foto/John-min.jpg 1x, ../img/reviews-foto/John2x-min.jpg 2x">
                        <source media="(min-width: 768px)" srcset="../img/reviews-foto/John-min.jpg 1x, ../img/reviews-foto/John2x-min.jpg 2x">
                        <source media="(max-width: 767px)" srcset="../img/reviews-foto/John-min.jpg 1x, ../img/reviews-foto/John2x-min.jpg 2x">
                        <img class="li-img" src="../img/reviews-foto/John-min.jpg" alt="John Wax">
                    </picture>
                    <h2 class="ul-li-H">John Wax</h2>
                    <p class="li-p">Buying a watch from was the best choice for me. The design is perfectly combined with high quality materials. The strap fits nicely on the hand, and the mechanism works flawlessly.</p>
                </li>

                <li class="rev-li li-tablet">
                    <picture>
                        <source media="(min-width: 1280px)" srcset="../img/reviews-foto/Viktoria-min.jpg 1x, ../img/reviews-foto/Viktoria2x-min.jpg 2x">
                        <source media="(min-width: 768px)" srcset="../img/reviews-foto/Viktoria-min.jpg 1x, ../img/reviews-foto/Viktoria2x-min.jpg 2x">
                        <source media="(max-width: 767px)" srcset="../img/reviews-foto/Viktoria-min.jpg 1x, ../img/reviews-foto/Viktoria2x-min.jpg 2x">
                        <img class="li-img" src="../img/reviews-foto/Viktoria-min.jpg" alt="Victoria Romashenko">
                    </picture>
                    <h2 class="ul-li-H">Victoria Romashenko</h2>
                    <p class="li-p">Can't take my eyes off my watch from. Every time I put it on, it is admired by those around me. The build quality and attention to detail make it a real gem among my accessories.</p>
                </li>

                <li class="rev-li li-desktop">
                    <picture>
                        <source media="(min-width: 1280px)" srcset="../img/reviews-foto/Anastasia-min.jpg 1x, ../img/reviews-foto/Anastasia2x-min.jpg 2x">
                        <source media="(min-width: 768px)" srcset="../img/reviews-foto/Anastasia-min.jpg 1x, ../img/reviews-foto/Anastasia2x-min.jpg 2x">
                        <source media="(max-width: 767px)" srcset="../img/reviews-foto/Anastasia-min.jpg 1x, ../img/reviews-foto/Anastasia2x-min.jpg 2x">
                        <img class="li-img" src="../img/reviews-foto/Anastasia-min.jpg" alt="Anastasia Trachuk">
                    </picture>
                    <h2 class="ul-li-H">Anastasia Trachuk</h2>
                    <p class="li-p">My watch from is a real masterpiece. Every detail impresses with the high quality of execution. Special features like [specify features] make it an indispensable companion in my daily life.</p>
                </li>
            </ul>
        </div>
        </section>
</body>
</html>