<section class="sale-section-main" id="sale">
     <div class="container sale">
          <h2 class="sale-main">Sale</h2>
          <div class="sale-section">
               <div class="sale-photos-all">
                    <div class="sale-photos">
                         <ul class="sale-photos-list">
                              <li class="sale-photos-item">
                                   <img 
                                   class="img watches-first"
                                   src="./img/sale-img/watch-5-min.png"
                                   srcset="./img/sale-img/watch-5-min.png 1x,
                                   ./img/sale-img/watch-5@2x-min.png 2x"    
                                   alt="watches" 
                                   width="52"
                                   />
                              </li>
                              <li class="sale-photos-item">
                                   <img 
                                   class="img watches-first"
                                   src="./img/sale-img/watch-4-min.png"
                                   srcset="./img/sale-img/watch-4-min.png 1x,
                                   ./img/sale-img/watch-4@2x-min.png 2x"    
                                   alt="watches" 
                                   width="52"
                                   />
                              </li>
                              <li class="sale-photos-item">
                                   <img 
                                   class="img watches-first"
                                   src="./img/sale-img/watch-2-min.png"
                                   srcset="./img/sale-img/watch-2-min.png 1x,
                                   ./img/sale-img/watch-2@2x-min.png 2x"    
                                   alt="watches" 
                                   width="52"
                                   />
                              </li>
                              <li class="sale-photos-item">
                                   <img 
                                   class="img watches-first"
                                   src="./img/sale-img/watch-3-min.png"
                                   srcset="./img/sale-img/watch-3-min.png 1x,
                                   ./img/sale-img/watch-3@2x-min.png 2x"    
                                   alt="watches" 
                                   width="52"
                                   />
                              </li>
                         </ul>
                    </div>
                    <div class="big-photo">
                         <img 
                              class="img watches-main"
                              src="./img/sale-img/watch-1-min.png"
                              srcset="./img/sale-img/watch-1-min.png 1x,
                              ./img/sale-img/watch-1@2x-min.png 2x"    
                              alt="watches" 
                              width="235"
                         />
                    </div>
               </div>
               <div class="sale-text">
                    <div class="sale-table">
                         <h3 class="sale-hero">MARQ&#174; Commander (Gen 2) - Carbon Edition</h3>
                         <p class="sale-hero-par">Product tag: 706587</p>
                    </div>
                    <ul class="sale-prices-list">
                         <li class="sale-prices-item-ang">
                              <p class="sale-price-action">€1500</p>
                         </li>
                         <li class="sale-prices-item">
                              <p class="sale-price">€3000</p>
                         </li>
                    </ul>
                    <p class="sale-paragraph">
                         The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that takes materials and features to the next level. 
                         The body of the watch is made of very durable Fused Carbon Fiber material and has a precise AMOLED touch screen. 
                         The sensitive touch screen is complemented by buttons that can be used in any conditions.
                    </p>
                    <ul class="sale-spec-list">
                         <li class="sale-spec-item">
                              <p class="sale-spec-par">Fused carbon fiber</p>
                         </li>
                         <li class="sale-spec-item">
                              <p class="sale-spec-par">Grade-5 Titanuim</p>
                         </li>
                         <li class="sale-spec-item">
                              <p class="sale-spec-par">Athlete</p>
                         </li>
                         <li class="sale-spec-item">
                              <p class="sale-spec-par">Golfer</p>
                         </li>
                         <li class="sale-spec-item">
                              <p class="sale-spec-par">Commander</p>
                         </li>
                         <li class="sale-spec-item">
                              <p class="sale-spec-par">Adventurer</p>
                         </li>
                    </ul>
               </div>
          </div>
     </div>
</section>