.catalog-none {
  display: none;
}

.catalog-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}

.catalog-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.catalog-picture {
  max-width: 208px;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.catalog-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background-color: #f3f3f3;
  padding: 24px 28px;
}

.catalog-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 8px;
}

.catalog-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

.catalog-btn {
  display: block;
  border-radius: 16px;
  border: transparent;
  width: 160px;
  height: 48px;
  background-color: #3350e9;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;

  margin: 0 auto;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.catalog-btn:hover,
.catalog-btn:focus {
  background-color: #1f3cd4;
}

@media screen and (min-width: 768px) {
  .catalog-btn-none {
    display: none;
  }

  .catalog-none {
    display: block;
  }

  .catalog-title {
    font-size: 48px;
    line-height: 0.91667;
    margin-bottom: 40px;
  }

  .catalog-img-container {
    margin-bottom: 20px;
  }

  .catalog-picture {
    max-width: 268px;
  }

  .catalog-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 32px;
    width: 100%;
  }

  .catalog-item {
    width: calc((100% - 16px) / 2);
    padding: 34px 38px;
  }

  .catalog-name {
    font-size: 20px;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: 1280px) {
  /* .catalog-img-container {
    width: 304px;
    height: 310px;
    padding-top: 6px;
    padding-bottom: 14px;
    padding-left: 6px;
    padding-right: 6px;
  } */

  .catalog-picture {
    max-width: 292px;
  }

  .catalog-list {
    display: flex;
    flex-direction: row;
    column-gap: 23px;
    row-gap: 32px;
    width: 100%;
    margin-bottom: 0;
  }

  .catalog-item {
    width: calc((100% - 46px) / 3);
  }
}
