*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #434455;
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
li {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}
.catalog {
  margin: 0;
}
.catalog .container {
  min-width: 335px;
  padding: 30px 0 30px;
  outline: 1px solid red;
}

.catalog-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;

  font-family: 'Gilroy', sans-serif;

  margin-bottom: 24px;
}

.catalog-list {
  width: 320px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.catalog-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;

  background-color: #f3f3f3;
  padding: 24px 28px;
}
.catalog-img {
  margin-bottom: 10px;
}
.catalog-item-wrapper {
  width: 279px;
}
.catalog-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.catalog-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

.catalog-btn {
}
